.centered {
    text-align: center;
}

.hidden {
    display: none;
}

.rowDiv {
    overflow: hidden;
}

.battleShipButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
.battleShipButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.battleShipButton:active {
    position:relative;
    top:1px;
}


/* play area view specific */
#infoPanel {
    width: 33.33%;
}
.infoColumn {
    float: left;
    width: 50%;
    /*background-color: gray;*/
}
.infoColumn > .rowDiv, .summaryColumn > .rowDiv {
    margin-top: 10px;
    margin-left: 80px;
}
#playerBoard {
    /*background-color: pink;*/
    margin: 0 auto;
}
#playerBoard > div.centered {
    margin: 10px 0px;
}
.playAreaColumn {
    /*background-color: orange;*/
    float: left;
    //min-width: 360px;
}
#feedback {
    height: 10px;
}
.openWater {
    background-color: #256bda;
}
.miss {
    background-color: #083379;
}
.undamaged {
    background-color: white;
}
.damaged {
    background-color: #e83535;
}
.cellDiv {
    float: left;

    width: 40px;
    height: 40px;

    border: 0.5px solid #77a2d2;
}
#legend > .rowDiv {
    margin: 15px;
}

#legend > .rowDiv > label {
    padding: 10px;
    float: left;
}




/* summary view specific */
.summaryHeader {
    padding: 20px;
    text-align: center;
}
.summaryColumn {
    float: left;
    width: 50%;
}
.summaryRow:after {
    content: "";
    display: table;
    clear: both;
}
